html {
  margin: auto; 
  display: flex;  
  justify-content: center;
  align-items: center;
  text-align: justify;
  background-image: url("~/static/wallpaperMaybe.svg");
  background-attachment: fixed;

}

body{ 
  width: 600px; 
  margin: 0 auto;
  font-size: 16px;
  background-image: url("~/static/body.svg");  
}


header {
  background-image: url("~/static/header.png");
  padding: 125px;
  
  
  color: white;
  
}


footer {
  
  color: white;
  text-align: center;
}
